<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor List - All Doctors</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Specialisation</td>
        <td>Location</td>
        <td>Button</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.name}"></td>
        <td th:text="${doctor.surname}"></td>
        <td th:text="${doctor.specialisation}"></td>
        <td th:text="${doctor.location}"></td>
        <td>
            <a th:href="@{/doctors/{id}(id=${doctor.id})}">More Info</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/doctors/doctor}">Add New</a>
<a></a>
</body>
</html>