<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors Page</title>
</head>
<body>
<h1 th:text="${doctor.title}">First Doctor</h1>
<p th:text="${doctor.id}"></p>
<p th:text="${doctor.description}"></p>
<p th:text="${doctor.price}"></p>
<p><a th:href="@{/doctors/doctor/{id}(id=${doctor.id})}">Edit Doctors Info</a></p>
<p><a th:href="@{/doctors/doctor/{id}.delete(id=${doctor.id})}">Delete</a></p>
</body>
</html>